@page "/Create"
<link href="/validation.css" rel="stylesheet" />

<h1 class="bg-info text-white">Create Flight</h1>
<h2 class="text-success p-2">@FormSubmitMessage</h2>

<EditForm Model="flight" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Name</label>
        <ValidationMessage For="@(() => flight.Name)" />
        <InputText class="form-control" @bind-Value="flight.Name" />
    </div>
    <div class="form-group">
        <label>Departure</label>
        <ValidationMessage For="@(() => flight.Departure)" />
        <InputText class="form-control" @bind-Value="flight.Departure" />
    </div>
    <div class="form-group">
        <label>Destination</label>
        <ValidationMessage For="@(() => flight.Destination)" />
        <InputText class="form-control" @bind-Value="flight.Destination" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Click</button>
    </div>
</EditForm>

@if (newFlight != null)
{
    <h3 class="text-warning p-2">Flight</h3>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Departure</th>
                <th>Destination</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@newFlight.Id</td>
                <td>@newFlight.Name</td>
                <td>@newFlight.Departure</td>
                <td>@newFlight.Destination</td>
            </tr>
        </tbody>
    </table>
}

@code {
    public Flight flight = new();
    Flight newFlight;
    public string FormSubmitMessage { get; set; } = "Flight Not Created";

    public async Task HandleValidSubmit()
    {
        newFlight = new Flight();
        using (var httpClient = new HttpClient())
        {
            StringContent content = new StringContent(JsonConvert.SerializeObject(flight), Encoding.UTF8, "application/json");

            using (var response = await httpClient.PostAsync("http://localhost:5130/api/flights", content))
            {
                string apiResponse = await response.Content.ReadAsStringAsync();
                newFlight = JsonConvert.DeserializeObject<Flight>(apiResponse);
            }
        }
        FormSubmitMessage = "Flight Created";
    }

    public void HandleInvalidSubmit() => FormSubmitMessage = "Invalid Flight";
}